.card-container {
    width: 60%;
    background-color: rgb(130,255,255,0.75);
    border-radius: 30px;
    margin: 10px;
    padding: 30px;
}

.profile-pic {
    max-width: 100px;
    height: auto;
}

.profile-title {
    font-weight: bold;
    font-size: x-large;
}

.gender-icon-m {
    height: 50px;
    width: auto;
}

.gender-icon-f {
    height: 60px;
    width: auto;
}

.other-elements * {
    max-width: 100%;
}